
#body
{
	height:100vh;
	background-image: radial-gradient(at top,#F7F8FA,#CBCDD1 40%,#CBCDD1 100%);
	background-repeat: no-repeat;
  background-attachment: fixed;
	font-family: 'Slabo 27px', serif;
	margin-top: 0px;
}
#uid
{
	margin-top: 250px;
	margin-left: 422px;
}
.heading{
	
	padding-top: 50px;
	padding-bottom: 30px;
	font-size: 56px;
	font-weight: normal;
}
.login
{
	text-align: center;
	color:white;
	background-color: #046bb8;
	height: 37px;
	width: 100px;
	border-radius: 2px;
	font-size: 20px;
	margin-left: 20px;
	border:0px;
	line-height: 40px;
	padding-bottom: 1px;
	cursor:pointer;
}
#sign_up
{
	font-size: 22px;
	margin-left: 0px;
	display:inline-block;
	line-height: 40px;

}

#c_box{
	position: absolute;
	left: 715px;
	top: 290px;
	background-color: #ffffff;
	height: 350px;
	width: 285px;
	border-radius: 5px;
}

#users{

}



