#header
{
  
  background-color: #ffffff;
  color: #4a1364;
  font-family: 'Droid Sans', sans-serif;
  font-size:48px;
  line-height: 1.8;
}


#body
{
	
	height:580px;
	background-image: radial-gradient(circle,#772d99,#4a1364 40%,#4a1364 100%);
}

body{
	 margin:0px 0px 1px 1px;
}
.tbox
{
	border:0px;
	width:250px;
	height:35px;
	border-radius: 2px;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 20px;
	padding-left: 8px;
}

#uid
{
	margin-top: 250px;
	margin-left: 422px;
	
}
#heading{
	padding-left: 4px;
	color: #ffffff;
	padding-top: 150px;
	margin-bottom: -200px;
	font-family: 'Droid Sans', sans-serif;
	text-align: center;
	font-size: 48px;
	font-weight: normal;
		
}
#login
{
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
	color:white;
	background-color: #046bb8;
	height: 37px;
	width: 100px;
	border-radius: 2px;
	font-size: 20px;
	margin-left: 10px;
	display:inline-block;
	border:0px;
	line-height: 40px;
	padding-bottom: 1px;
	cursor:pointer;
}

#data
{
	display:inline-block;
	
}

#sign_up
{
	font-family: 'Droid Sans', sans-serif;
	font-size: 22px;
	color:white;
	margin-left: 0px;
	display:inline-block;
	margin-left: 520px;
	line-height: 40px;

}

#sign_but
{
	height:60px;
	width: 150px;
	background-color: #1b1a1a;
	font-size: 25px;
	font-family: 'Droid Sans', sans-serif;
	display: inline-block;
	border-radius: 2px;
	color:white;
	text-align: center;
	margin-left: 10px;
	line-height: 55px;
	cursor:pointer;

}

#fields
{
	font-family: 'Droid Sans',sans-serif;
	color:white;
	letter-spacing: 1.5px;
}

.tbox2
{
	border:0px;
	height:35px;
	width: 300px;
	border-radius: 2px;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 20px;
	margin:5px;
	
}