
<div ng-controller='AuthCtrl'>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 heading">
        <center><h1>Let's Chat</h1><center>
      </div>
    </div>
    <div class="row">
      <center>
        <div class="col-md-4 col-md-offset-4 ">
          <p class="h4 text-center">Welcome to Chat Xpress. Please enter your username and password to continue.</p>
        </div>
      </center>
    </div>
    <br>
    <div class="row">
      <form>
        <div class="col-md-3 col-md-offset-3">
          <form class="form-group">
            <input class="form-control"  type="text"  ng-model="user.email" placeholder="Email">
          </form>
        </div>
        <div class="col-md-3">
          <form class="form-group">
            <input class="form-control"  type="password" ng-model="user.pass" placeholder="Password">
          </form>
        </div>
        <button class="btn btn-info" ng-click="login()">Login</button>
      </form>
    </div>
  </div>
</div>

<br><br><br>
<div>
  <div class="row">
    <div class="col-md-12">
      <center>
        <div id="sign_up">Not Registered?&nbsp&nbsp      
        </div>
        <button class="btn btn-lg btn-danger" ng-click="go('/register')">Sign Up
        </div>
      </center>
    </div> 
  </div>
</div>
   
 

