
<div ng-controller='AuthCtrl'>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 heading">
        <center><h1 style="color:white;">Let's Chat</h1><center>
      </div>
    </div>
    <div class="row">
      <form class="form-inline">
        <center>
          <div class="col-md-12">
            <form class="form-group">
              <input class="form-control"  type="text"  ng-model="user.email" placeholder="Email">
            </form>
            <form class="form-group">
              <input class="form-control"  type="password" ng-model="user.pass" placeholder="Password">
            </form>
            <button class="btn login" ng-click="login()">Login</button>
          </div>
        </center>
      </form>
    </div>
  </div>
</div>

<br><br><br>
<div>
  <div class="row">
    <div class="col-md-12">
      <center>
        <div id="sign_up">Not Registered?
        </div>
        <div id="sign_but" ng-click="go('/register')">Sign Up
        </div>
      </center>
    </div> 
  </div>
</div>
   
 

