<form name="reg" ng-submit="register()" ng-init=""class="form-horizontal">
  <br><br><br>
  <div class="container">
    <div class="row" style="margin-bottom:20px">
      <div class="col-md-12 h2" ng-show="!message" align="center">
        Please fill your details to begin !
      </div>
    </div>
    <div class="row" >
      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <input class="form-control" type="text" name="fname" placeholder="Username" autocomplete="off" ng-keypress="uNameCheck()" required ng-model="user.name">
        </div>
      </div>
      <!-- <div style="position:absolute;top:188px;left:880px;font-size:20px";>{{alert}}</div> -->
      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <input class="form-control" type="text" name="email" placeholder="Email"required ng-model="user.email">{{err}}
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <input class="form-control" type="password" name="pass" placeholder="Password"required ng-model="user.pass">
        </div>
      </div>
      <!-- <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <input class="form-control" type="password" name="rpass" placeholder="Re-Password">
        </div>
      </div> -->
      <br>
      <div class="form-group ">
        <div class="col-md-2 col-md-offset-5">
          <button class="btn btn-success btn-lg btn-block" type="submit" >Sign Up</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" ng-show="message">
        <h3 class="text-center">Account successfully created {{user.name}} !</h3>
        <br><br>
        <h4 class="text-center">Click here to<a ng-href="#/"> Login</a> !</h4>
      </div>
    </div>
  </div>
</form>
  
